* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(21, 53, 21);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

p {
    color: white;
    margin: 10px 0px;
    text-align: left;
}